Package: ocean
Version:
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.27)
Maintainer: Martin Tsvetanov <martin@commerceblock.com>
Description: oceand ocean-cli and ocean-tx binaries
